{% load static %}

<!-- Main Footer -->
<footer class="main-footer text-center py-3" style="background-color: #f8f9fa; border-top: 1px solid #dee2e6;">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-sm-12">
                <strong>&copy; 2024 <a href="https://fivestore.com">Nikole Mendez</a>. All rights reserved.</strong>
            </div>
            <div class="col-sm-12">
                <span>Anything you want</span>
            </div>
        </div>
    </div>
</footer>
