<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Usuario</title>
    <!-- Incluye Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card">
            <div class="card-header text-center">
                <h1>Eliminar Rol</h1>
            </div>
            <div class="card-body text-center">
                <p>¿Está seguro de que desea eliminar "{{ object.rol }}"?</p>
                <form method="post" action="{% url 'rol_delete' pk=object.pk %}">
                    {% csrf_token %}
                    <div class="d-flex justify-content-center mt-4">
                        <button type="submit" class="btn btn-danger mx-2">Eliminar</button>
                        <a href="{% url 'rol_lista' %}" class="btn btn-secondary mx-2">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Incluye Bootstrap JS y sus dependencias -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
